@if (isAuthenticating) {
  <div>Authenticating...</div>
}
@else {
  
    <div class="card card-shadow">
      <div class="card-header login-form">
      <h1 class="text-center">Login</h1>
    </div>
  <div class="card card-shadow card-body">
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      
    <div class="form-group">
      <label class="text-center">
        Email:
      </label>
      <br>
        <input type="email" formControlName="email"/>
      <br />
      <br />
        <label>
          Password:
        </label>
        <br>
          <input type="password" formControlName="password">
          <br />
          <br />
        <button type="submit" [disabled]="isAuthenticating">Login</button>
    </div>
  </form>
  </div>
</div>

}